 <div class="field">
      <span class="value" data-value="days">00</span>
      <span class="label">Days</span>
    </div>

    <div class="field">
      <span class="value" data-value="hours">00</span>
      <span class="label">Hours</span>
    </div>

    <div class="field">
      <span class="value" data-value="mins">00</span>
      <span class="label">Minutes</span>
    </div>

    <div class="field">
      <span class="value" data-value="secs">00</span>
      <span class="label">Seconds</span>
    </div>
    <button id="js-startBtn" class="btn" data-action="start">Start</button>
    <button id="js-stopBtn" class="btn" data-action="stop" disabled>Stop</button>
